*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "PT Sans Caption", serif;
  font-weight: 700;
  font-style: normal;
}
body{
  min-height: 100vh;
  width: 100vw;
  background: linear-gradient(160deg,#0A1828  0%,#152941 50%,#0A1828);
}